* * * * * cd ~/hallway-tv-automation && ./update.sh && cat crontab | crontab - >./update.log 2>./update.log

10 8 * * 0 . ~/.bash_profile && /usr/bin/osascript ~/hallway-tv-automation/start_playlist.scptd 45 "spotify:user:summitcreekkids:playlist:5jRnodtWDtpC1dmONxRPK1"
10 8 * * 0 . ~/.bash_profile && /usr/bin/osascript ~/hallway-tv-automation/open_slideshow.scptd

29 8 * * 0 /usr/bin/osascript ~/hallway-tv-automation/vol_down.scptd 10
35 8 * * 0 /usr/bin/osascript ~/hallway-tv-automation/vol_up.scptd 45

10 9 * * 0 /usr/bin/osascript ~/hallway-tv-automation/vol_down.scptd 10
0 10 * * 0 /usr/bin/osascript ~/hallway-tv-automation/vol_up.scptd 45

45 10 * * 0 /usr/bin/osascript ~/hallway-tv-automation/vol_down.scptd 10
30 11 * * 0 /usr/bin/osascript ~/hallway-tv-automation/vol_up.scptd 45

50 11 * * 0 /usr/bin/osascript -e 'tell application "Spotify" to quit'
50 11 * * 0 /usr/bin/osascript -e 'tell application "Chrome" to quit'
0 12 * * 0 /usr/bin/osascript -e 'tell application "System Events" to shut down'
